[Desktop Entry]
Version=1.0
Type=Application
Name=Cut-Helper
Comment=Tools for streamer video editing
Exec=fish /home/future/video_censor/run.fish
Path=/home/future/video_censor
Terminal=false
Categories=AudioVideo;Video;Utility;
StartupNotify=true
